@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

.form {
  @extend %font-md, %text-medium;
  display: flex;
  align-items: center;
  padding: 8px;

  text-align: left;
  color: bp.$dark-gray2;
  border-radius: 8px;

  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  user-select: none;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: bp.$light-gray5;
  }
  &:active {
    background-color: bp.$light-gray4;
  }
  span {
    padding-right: 16px;
  }
}

.test {
  padding: 6px 0;
}
