@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as *;

.common {
  @extend %text-normal, %font-md;
  color: $dark-gray5;
}

.large {
  @extend %text-medium, %font-xl;
  color: $dark-gray2;
}

.default {
  font-style: normal;
  @extend %text-normal;
}

.lite {
  font-style: normal;
  font-weight: 400;
}

.placeholder {
  font-style: italic;
  font-weight: 400;
}

.lite-placeholder {
  font-style: italic;
  font-weight: 400;

  color: $gray3;
  &.large {
    color: $gray3;
  }
}
