@use '~/src/scss/vendor/index.module' as bp;
@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  color-scheme: dark;
}

.grid {
  display: grid;
  grid-template-rows: auto 25px;
  grid-template-columns: 52px auto;
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @extend .grid;
}

.view {
  @extend .grid;
  width: 100%;
  height: 100%;
}

.diagram {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.inner {
  grid-row-start: 1;
  grid-column-start: 2;
  padding: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  @extend %shadow-edge-md;
  width: 40px;
  height: 400px;
  margin: 6px;
  background-color: #1b1e22;
  border-radius: 8px;
  z-index: 10;
}

.toolbar {
  @extend %flex-row;
  height: 100%;
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  float: bottom;
  background-color: grey;
}
