// @import '../../../palette.scss';
@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

.container {
  width: 350px;
  min-height: 100px;
  align-self: flex-end;
  background-color: white;
  z-index: 50;
}

.duoContainer {
  position: relative;
}
