// @import '../../../palette.scss';
@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

.container {
  @extend %flex-column;
  row-gap: 6px;
  z-index: 50;
  width: 350px;
  min-height: 100px;
  align-self: flex-end;
}

.panes {
  @extend %shadow-edge-md;
  background-color: white;
  border-radius: 8px;
}

.duoContainer {
  position: relative;
}
