// @import '../../../palette.scss';
@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 250px;
  // padding: 6px;
  background-color: bp.$white;
  border-radius: 8px;

  z-index: 50;

  @extend %shadow-edge-sm;
}

.head {
  @extend %flex-column;

  padding: 8px;
  background: bp.$white;
  border-radius: 6px;
}

.insetSection {
  @extend %flex-column, %shadow-inner-2;
  margin: 6px;
  min-height: 200px;
  background: bp.$light-gray5;
  border-radius: 6px;
}

.navEl {
  @extend %font-lg, %text-medium, %transition-all-75;
  color: bp.$gray3;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: bp.$gray2;
  }

  &.selected {
    color: bp.$dark-gray2;
    &:hover {
      color: bp.$gray1;
    }
  }
}

.nav {
  @extend %flex-row;
  column-gap: 8px;
}

.search {
  @extend %font-sm, %text-normal, %transition-all-50, %shadow-inner;
  border-radius: 6px;
  border: 0px;
  padding: 6px 8px;
  outline: 0;
  background-color: bp.$light-gray4;

  &::placeholder {
    font-style: italic;
    color: bp.$gray3;
    user-select: none;
  }

  &:focus {
    outline-offset: 0px;
    outline: 1px solid bp.$cobalt4;
  }
}
