@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

@import '@blueprintjs/core/lib/scss/variables';

.container {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  min-height: 38px;
  padding: 4px;
  // padding-bottom: 0;
  row-gap: 4px;
  background-color: bp.$light-gray4;
  @extend %shadow-inner-2;
}

.customDragLayer {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding: 8px;
}

.draggable {
  height: 36px;
}
