@use '~/src/scss/abstracts/index.module' as abstracts;
@use '~/src/scss/base/index.module' as base;
@use '~/src/scss/vendor/index.module' as bp;

:export {
  tipColor: bp.$light-gray1;
}

.nodeContainer {
  display: flex;
  flex-direction: column;
  width: 275px;
  min-height: min-content;

  padding: 6px 0;
  padding-top: 12px;
  border-radius: 8px;
  background-color: white;

  outline: white solid 0px;
  transition: all 100ms linear;

  @extend %shadow-edge-xs;

  &:hover {
    @extend %shadow-edge-sm;
  }

  h4 {
    @extend %font-sm, %text-medium;
    margin: 0 12px;
    margin-top: 6px;
    color: bp.$dark-gray4;
  }

  &.selected {
    @extend %shadow-md;
    &:after {
      background-color: bp.$cobalt4;
    }
    outline: 2px solid bp.$cobalt4;
  }

  &.dragging {
    @extend %shadow-lg;
    transform: translateY(-2px);
  }
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  padding-right: 12px;
}

.nodeBody {
  display: flex;
  flex-direction: column;
  // row-gap: 6px;
}

.content {
  margin: 6px;
  margin-top: 12px;
  border-radius: 6px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  background-color: bp.$light-gray4;
  @extend %shadow-inner-2;
}

.footer {
  // padding-left: 6px;
  display: flex;
  flex-direction: column;
}

.port {
  position: relative;
  padding: 4px;
  padding-left: 6px;
  background-color: bp.$light-gray4;
  width: fit-content;
  border-radius: 0 8px 8px 0;
  box-shadow: 0px 2px 0px 0px bp.$gray4 inset;
  margin-top: 0;
  // border: 1px solid bp.$gray5;
  border-left: none;

  box-shadow: -1px 2px 1px 0px rgba(bp.$gray4, 0.5) inset, 0px 0px 1px 0px rgba(bp.$gray5, 1);

  h2 {
    @include abstracts.block-shadow-smooth(2px, 1px, bp.$gray5);

    cursor: pointer;
    margin: 0;
    padding: 4px 8px;
    background-color: white;
    border-radius: 6px;

    @extend %font-lg, %text-medium;

    &.selected {
      box-shadow: 0px -1px 0px 0px bp.$light-gray4, 0px 1px 0px 0px bp.$light-gray4,
        0px 1px 6px 0px rgba(bp.$gray1, 0.25);
      // transform: translateY(-2px);
      &:after {
        background-color: bp.$cobalt4;
      }
      outline: 1.9px solid bp.$cobalt4;
    }
  }
}

.blocks {
  @extend .content;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
  border-radius: 8px;
  margin-top: 6px;
  min-height: 36px;
}

.block {
  color: bp.$gray5;
  background-color: white;
  overflow: hidden;

  @include abstracts.block-shadow-smooth(2px, 1px, bp.$gray5);

  &:hover {
    background-color: white;
    color: bp.$dark-gray4;
  }

  @extend %font-sm, %text-normal;

  &-prompt {
    @extend .block;
    // background-color: rgba(bp.$rose5, 0.2);
    @include abstracts.block-shadow-smooth(2px, 1px, bp.$orange4);
  }

  &-simple {
    @extend .block;

    @include abstracts.block-shadow-smooth(2px, 1px, bp.$green4);
  }

  &-code {
    @extend .block;

    // background-color: rgba(bp.$cobalt5, 0.2);
    @include abstracts.block-shadow-smooth(2px, 1px, bp.$cobalt4);
  }

  &-complex {
    @extend .block;

    // background-color: rgba(bp.$indigo5, 0.2);
    @include abstracts.block-shadow-smooth(2px, 1px, bp.$indigo4);
  }
}

.transitions {
  // position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  background-color: bp.$light-gray4;
  padding: 4px;
  margin: 6px;
  padding-right: 6px;
  right: -6px;
  left: 0;
  width: calc(100% - 6px);
  border-radius: 8px 0 0 8px;
  box-shadow: 1px 2px 1px 0px rgba(bp.$gray4, 0.5) inset, 0px 0px 1px 0px rgba(bp.$gray5, 1);
  // border: 1px solid bp.$gray5;
  border-right: none;
}

.transition {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 4px 12px;
  border-radius: 6px;

  @extend %font-md, %text-normal;

  // @include abstracts.block-shadow(2px, 1px, bp.$gray3, bp.$gray4);
  @include abstracts.block-shadow-smooth(2px, 1px, bp.$gray5);

  &:hover {
    transition: all 75ms linear;
    background-color: white;
    // transform: translateY(-1px);
  }
}
